/*----------------------- INICIO --------------------------*/
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #463f3a;
}
/*----------------------- NAV --------------------------*/
header {
    nav {
        background-color: #8a817c;
        color: #fff;
        margin: 12px;
        padding: 8px;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-family: 'Spline Sans', sans-serif;
        grid-area: "nav";
        ul {
            display: flex;
            flex-direction: row-reverse;
            padding: 5px;
            margin: 5px;
            li {
                margin-right: 10px;
                list-style: none;
                a {
                    text-decoration: none;
                    color: #fff;
                    &:hover {
                        color: #e0afa0;
                    }
                }
            }
        }
    }
}
/*----------------------- MAIN --------------------------*/
.main__index {
    text-align: center;
    margin-top: 220px;
    grid-area: "main";
    h1 {
    font-size: 60px;
    color: #f4f3ee;
    }
    h2 {
    font-size: 45px;
    color: #e0afa0;
    }
    b {
    font-size: 20px;
    opacity: 0.5;
    }
}
/*----------------------- 1ST SECTION --------------------------*/
.section1__index {
    grid-area: "section";
    h3 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 310px;
    font-size: 30px;
    background-color: #8a817c;
    color: #f4f3ee;
    border: 2px solid #e0afa0;
    border-color: #e0afa0;
    }
    p {
    color: #f4f3ee;
    background-color: #8a817c;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    font-family: 'Spline Sans', sans-serif;
    }
}
/*----------------------- GRID CONTAINER --------------------------*/
.grid__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "nav nav nav nav"
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}
/*----------------------- FOOTER --------------------------*/
.footer {
    background-color: #0a0908;
    color: #f4f3ee;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    grid-area: "footer";
    h4 {
        margin: 10px;
        font-size: 25px;
    }
    div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 5px;
        a {
            margin: 7px;
        }
    }
}
/*----------------------- RESPONSIVE DISPLAYS --------------------------*/
.nav__responsive--index {
    display: none;
}
.footer__responsive {
    display: none;
}
.section1__index--responsive {
    display: none;
}
.main__index--responsive {
    display: none;
}
.footer__responsive--tablet {
    display: none;
}
/*---------------------- VISTA MOBILE -------------------------*/
@media screen and (max-width: 480px){
    .nav__index {
        display: none;
    }
    .nav__responsive--index {
        display: block;
        background-color: #8a817c;
        color: #fff;
        margin: 12px;
        padding: 8px;
        font-size: 20px;
        text-align: center;
        ul {
            li {
                i {
                    margin: 5px;
                }
                a {
                    color: #f4f3ee;
                    &:hover {
                        color: #e0afa0;
                    }
                }
            }
        }
    }
}
.footer {
    display: none;
}

.footer__responsive {
    display: block;
    background-color: #0a0908;
    color: #f4f3ee;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    div {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        i {
            padding: 10px;
        }
    }
    h4 {
        margin: 10px;
        font-size: 25px;
    }
}
.section1__index {
    display: none;
}
.section1__index--responsive {
    display: block;
    p {
        padding: 30px;
        font-size: 15px;
        color: #f4f3ee;
    }
    h3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 310px;
        font-size: 30px;
        background-color: #8a817c;
        color: #f4f3ee;
        border: 2px solid #e0afa0;
        border-color: #e0afa0;
        }
}
.footer__responsive--tablet {
    display: none;
}
@media screen and (max-width:768px) {
    .nav__index {
        display: none;
    }
    .nav__responsive--index {
        display: block;
        background-color: #8a817c;
        color: #fff;
        margin: 12px;
        padding: 8px;
        font-size: 20px;
        text-align: center;
        ul {
            li {
                i {
                    margin: 5px;
                }
                a {
                    color: #f4f3ee;
                    &:hover {
                        color: #e0afa0;
                    }
                }
            }
        }
    }
}
.footer {
    display: none;
}
.footer__responsive {
    display: none;
}
.footer__responsive--tablet {
    display: block;
    background-color: #0a0908;
    color: #f4f3ee;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        i {
            padding: 10px;
        }
    }
    h4 {
        margin: 10px;
        font-size: 25px;
    }
}
.section1__index {
    display: none;
}
.section1__index--responsive {
    display: block;
    p {
        padding: 30px;
        font-size: 15px;
        color: #f4f3ee;
    }
    h3 {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 310px;
        font-size: 30px;
        background-color: #8a817c;
        color: #f4f3ee;
        border: 2px solid #e0afa0;
        border-color: #e0afa0;
        }
}
.main__index {
    display: none;
}

.main__index--responsive {
    display: block;
    text-align: center;
    margin-top: 220px;
    grid-area: "main";
    b {
        margin-top: 100px;
    }
    h1 {
        font-size: 60px;
        color: #f4f3ee;
        &:hover{
            animation: flip;
            animation-duration: 1s;
          }
    }
    h2 {
        font-size: 45px;
        color: #e0afa0;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        b {
            font-size: 20px;
            opacity: 0.5;
            top: 100px;
        }
    }
}
/* --------------------------------------------------ABOUT ME -----------------------------------------*/

/* -------------- MAIN ---------------- */
.main__aboutMe {
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        color: #e0afa0;
    }
    p {
        padding: 20px;
        background-color: rgba(224, 175, 160, 0.5);
        margin-top: 20px;
        margin: 10px;
        color: #f4f3ee;
    }
    
}
/* -------------- 1ST SECTION ---------------- */
.section1__aboutMe {
    h3 {
        background-color: #e0afa0;
        color: #f4f3ee;
        border: 2px solid #0a0908;
        text-align: center;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}
/* ----------------------- MEDIA QUERIES ---------------------- */
@media screen and (max-width: 768px ){
    .section1__aboutMe div {
        margin: 5px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
}
/* ------------------------------------ CONTACT ---------------------------------*/
.main__contact {
    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    h2 {
        font-size: 30px;
        color: #e0afa0;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        p {
            color: #f4f3ee;
            padding: 10px;
        }
        button {
            background-color: #e0afa0;
            font-size: 15px;
            padding: 7px;
            border: 3px ;
        }
    }
}
.section1__contact {
    h4 {
        font-size: 25px;
        color: #f4f3ee;
        text-align: center;
        margin: 30px;
    }
    div {
        display: flex;
        padding: 25px;
        color: #f4f3ee;
        text-align: center;
    }
}
/* ANIMACIONES Y TRANSFORMACIONES*/
.main__contact h2 {
    font-size: 30px;
    color: #e0afa0;
        background:
          linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        &:hover {
            background-size: 0 3px, 100% 3px;
        }
}
.main__aboutMe h2 {
    font-size: 30px;
        background:
          linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
          ),
          linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
        );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
        &:hover {
            background-size: 0 3px, 100% 3px;
        }
}
.main__index h1:hover{
    animation: flip;
    animation-duration: 1s;
}
.main__aboutMe p:hover {
    background-color: #e1beb1;
    transform: translateX(-20px), translateY(-20px);
}
.menu span a {
    &:hover {
        background: 
            linear-gradient(
                to right,
                rgba(224, 175, 160, 1),
                rgba(219, 167, 151, 1)
              );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: all 400ms;
    }
}

@import "../base/variables";